.card {
    width: 20%; /* Set a fixed width */
    height: 150px; /* Set the same height for a square shape */
    padding: 20px;
    /* background: mediumvioletred; */
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    text-align: center;
    transition: transform 0.3s;
    margin:20px;
}

.icon {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.business {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
}

.text {
    font-size: 18px;
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.h-full .session {
    color: green;
    background: #f5f3f3;
    padding: 10px;
    border-left: 2px solid red;
}
.alert-danger {
    color:red;
}